.cases {
  padding-top: 85px;

  @include set_media(mobile){
    padding-top: 40px;
  }

  &__title {
    @extend .section_title;
  }

  &__list{
    @include set_media(small_tablet){
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__item {
    display: flex;

    @include set_media(small_tablet){
      display: block;
      padding: 0 30px;
    }

    &-head {
      display: flex;
      justify-content: space-between;
    }

    &_inverse {
      & > div:first-child {
        order: 1;
        padding-left: 30px;
      }

      & > div:last-child {
        order: 0;
      }
    }

    &-number {
      font-size: 1.25rem;
      color: get_color(accent);
      font-weight: 600;
      text-transform: uppercase;

      @include set_media(mobile){
        color: get_color(title);
        font-size: 0.94rem;
        text-decoration: underline;
        margin: 8px 0;
      }
    }

    &-params {
      color: map_get($color, title);
      font-size: 15px;
      margin-top: 3px;

      @include set_media(mobile){
        font-size: 0.73rem;
        text-align: left;
      }
    }

    &-title {
      font-weight: bold;
      position: relative;



      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: -23px;
        width: 20px;
        height: 20px;


      }

      &.location:before{
        background: url("../img/location.svg") no-repeat;
      }

      &.idea:before{
        background: url("../img/idea.svg") no-repeat;
      }

      &.solutions:before{
        background: url("../img/solutions.svg") no-repeat;
        top: -2px;
      }

      &.technologies:before{
        background: url("../img/technology.svg") no-repeat;
      }

    }

    &-text {
      font-weight: 300;
      margin-left: 5px;
    }

    &-description{
      width: 50%;
      padding: 50px 20px 20px;

      @include set_media(small_tablet){
        padding: 0;
        width: 100%;
      }

      .ant-drawer-body &-description{
        @include set_media(small_tablet){
          padding: 50px 20px 20px;
        }

      }
    }

    &-illustrations {
      width: 50%;
      padding: 0 10px;
    }

    &-mobile{
      width: calc(50% - 10px);
      text-align: center;
      @extend %list_item;
      margin-bottom: 10px;
      padding: 15px 5px;

      &:nth-child(even){
        margin-right: 10px;
      }
    }

    &-icon{
      position: relative;

      @include set_media(small_tablet){
        width: 60px;
        height: 60px;
        display: inline-block;

        & img{
          width: 100%;
        }

        & .flag-mobile{
          position: absolute;
          top: 10px;
          @include center_x();
          max-width: 15px;
        }
      }

      @include set_media(mobile){
        width: auto;
        height: auto;

        & img{
          width: auto;
        }

        & .flag-mobile{
          top: 10px;
          @include center_x();
          max-width: 10px;
        }
      }


    }
  }
}

.ant-drawer-body{



  & .cases__item{
    @include set_media(small_tablet){
      padding: 0 50px;
    }

    &-head{
      align-items: center;
    }

    &-number{
      margin: 0;
      color: get_color(accent);
    }
  }

}
