.not-found{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 55px);
  padding:50px;

  & img{
    max-width: 100%;
  }

  & p{
    color: get_color(title);
    font-size: 2.25rem;
    font-weight: 300;
    margin-top: 40px;

    @include set_media(small_tablet){
      font-size: 1.5rem;
      margin-top: 20px;
    }
  }

  & button {
    width: 260px;
    margin-top: 50px;

    @include set_media(small_tablet){
      margin-top: 30px;
    }
  }
}
