.competencies {

  &__title {
    @extend .section_title;
  }

  &__subtitle {
    @extend .section_title;
    color: map-get($color, title);
    font-size: 2.5rem;
    max-width: 1100px;
    margin-top: 20px;

    @include set_media(large){
      font-size: 2.2rem;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  &__item {
    max-width: 300px;
    text-align: center;
    padding: 15px 7px 45px;
    margin: 0 35px;
    color: map-get($color, title);
    font-weight: 300;
    font-size: 1.5rem;
    transition: $transition;

    @include set_media(large){
      font-size: 1.25rem;
      padding: 15px 30px;
      max-width: 260px;
      margin: auto;
    }


    & p {
      margin-top: 20px;
    }

    &:hover {
      @extend %list_item;
    }
  }
}
