.input{
  &-error {
    left: 30px;
    bottom: calc(100%);
    position: absolute;
    z-index: -1;
    background: rgba(map_get($color, accent), .7);
    color: map_get($color, button);
    font-size: 14px;
    padding: 5px 10px;
    opacity: 0;
    max-width: 200px;
    text-align: center;

    @include set_media(mobile){
      bottom: calc(100% - 35px) !important;
      left: auto;
      right: 5px;
    }

    & + textarea{
      position: relative;
    }

    &.show{
      bottom: calc(100% - 10px);
      z-index: 99;
      opacity: 1;
      transition: $transition;
    }
  }

  &-wrapper {
    position: relative;
    display: inline-block;
  }
}
