.section_title {
  font-size: 3.5rem;
  color: map-get($color, accent);
  text-transform: uppercase;
  font-weight: bold;

  @include set_media(small_tablet) {
    font-size: 2.5rem;
  }

  @include set_media(mobile) {
    font-size: 1.875rem;
    text-align: center;
    font-weight: 300;
  }
}
