$color: (
    title: #5D5D5D,
    accent: #9E181A,
    text: #707070,
    button: #ffffff,
    footerMenu: #C7C7C7,
    input: #A6A6A6,
);

$colorBg: (
    footerBG: #32313B,
    screenBG: #ffffff,
    screenOddBG: #F7F7F7
)