$fonts: (
    HelveticaNeueLTW1G: (
        normal-bold: (
            weight: bold,
            style: normal,
            file: 'HelveticaNeueLTW1G-Bd.otf'
        ),
        normal-medium: (
            weight: 600,
            style: normal,
            file: 'HelveticaNeueLTW1G-Md.otf'
        ),
        normal-light: (
            weight: 300,
            style: normal,
            file: 'HelveticaNeueLTW1G-Lt.otf'
        ),
        normal-regular: (
            weight: 400,
            style: normal,
            file: 'HelveticaNeueLTW1G-Roman.otf'
        ),
    )
);

@each $font, $params in $fonts{
    @each $font_types, $properties in $params{
        @font-face {
            font-family: $font;
            src: url('../fonts/#{map-get($properties, file)}');
            font-weight: map-get($properties, weight);
          }
      }
  }